---
title: '2025 회고'
description: My retrospective of 2025.
date: '2026-1-19'
categories:
  - etc
published: true
---

[2025년 CTO 회고](https://jojoldu.tistory.com/856)

솔직하다. 나의 회고도 항상 솔직했지만, 이렇게까지 적나라하지는 않았던 것 같다. 2025년의 회고는 조금 더 적나라하게 적어보고자 한다.

---
### 갈라파고스와도 같던 3월

3월, 예정되었던 목적 조직으로의 개편이 진행되었고, 나를 포함한 FE 개발자들은 11층의 중간 자리를 차지하게 됐다. 조직도 상의 내 위치와 주변의 얼굴들은 바뀌었지만, 나와 FE 개발자들의 상황은 전혀 바뀐 것이 없었다. 맡게 되는 프로젝트부터 같이 밥을 먹는 인원, 심지어는 동료와 대화할 때 업무툴을 사용하는 것까지 모든 것들이 동일했다. (조직 개편 및 이사를 통해, 내 바로 앞에 동료가 앉아 있음에도 말이다!)

바뀐 거라곤 내가 가졌던 팀에 대한 소속감이 완전히 사라졌다는 것. 같은 팀에 소속되어 있음에도 불구하고 우리는 우리끼리만 모든 것들을 해나갔다. 이 시기부터 나는 내가 앉은 이 자리가 11층의 갈라파고스 섬 같다는 생각을 했다.

분명히 변화가 필요했다. 지금의 조직 형태에서 우리끼리만 똘똘 뭉쳐있는 듯한 모습은 모두에게 전혀 도움이 되지 않았다. 우리는 오랫동안 별도로 분리되어 있던 조직이기 때문에 우리가 먼저 적극적으로 나설 필요가 있었다.

아침에 일찍 오신 분이 계시면 티타임도 요청해보고, 논의할 내용이 있을 때면 자리로 찾아가기도 했다. 우리끼리 진행해왔던 혹은 하려던 해커톤, 도서관, 스터디와 같은 것들도 함께 하기를 제안하고 실행했다. 우리의 노력과, 주변의 노력이 합해져 갈라파고스 위에 서있던 것 같은 나는 지금 그 어느 때보다 강한 소속감을 느끼고 있다.

---
### 준비하는 법에 대해 발표하던 4월

4월, 불안이 모든 것들을 잡아먹고 있던 시기. 그 불안을 이겨보기 위해 "나갈 준비를 하자"라는 내용의 발표를 진행했다. 사실 이 발표의 내용은 '나가자'가 아니다. 나가야 하는 상황을 미리 준비하다보면 이 불안으로부터 해소될 수 있다는 것이다. 그 준비의 하나로 나를 표현할 수 있는 웹서비스가 필요했다. FE 개발자라면 나의 이력이 정리된, 더 나아가 나의 전문성을 보여줄 수 있는 웹서비스 하나 정도는 가지고 있을 필요가 있다 생각했다.

발표 이후, 나의 이름으로 된 도메인을 하나 사고 간단한 블로그의 형태를 만들어 나의 생각들을 꾸준히 정리해 나가고 있다. 이력이 정리되지 못한, 아직은 아쉬운 블로그이지만 그래도 이렇게라도 만들어 가꿔 나간다는게 가끔 마음의 안심으로 다가올 때가 있다.

---
### 불안을 해소해가던 5월

- 리더 디퍼런트
- 원씽
- 개발자를 넘어 기술 리더로 가는 길
- 게으른 완벽주의자를 위한 심리학
- 어서 오세요, 펫로스 상담실입니다
- 펫로스 사랑한다 사랑한다 사랑한다
- 우리는 무한한 우주를 건너 서로를 만났고 이 삶을 함께하고 있어
- 존재만으로 빛나는
- 일의 감각
- 이펙티브 엔지니어
- 쉽고 빠르게 익히는 실전 LLM
- 면접의 질문들
- 운동장으로 출근하겠습니다
- 엄마에게 가는 길
- 글쓰기로 독립하는 법

25년 한 해 15권의 책을 읽었다. 누군가에게는 '겨우?' 라는 숫자이겠지만, 책을 전혀 읽지 않던 나에게는 엄청난 변화다.

이런 변화는 나의 불안에서 시작됐다. 책읽기, 뛰기(거창하게 뛰는 것이 아니기에, 러닝이라는 단어보다는 뛰기라는 표현이 딱 적당하다)와 같은 것들은 나를 온전히 그 순간에 집중하게 만든다. 많은 생각과 감정들로부터 독립되는 유일하고도 기쁜 시간이다. 나를 안정시킬 수 있는 또 다른 방법을 찾아 기쁘다.

---
### AI와 싸우던 10월

10월, 다시 불안이 쌓여갔다. AI 도구는 엄청난 속도로 발전하고, 나는 이 속도를 이겨낼 수 있을 정도의 능력을 가지고 있지 않다. 특히 결혼 휴가 직전, 토큰이 충전되기를 기다리며 아무 일도 진행하지 못하는 나의 모습은 우스움 그 자체였다. 단순히 우려로만 생각됐던 일들이 점점 현실이 되자 대책이 필요했다. 앞으로 이 일을 몇 년이나 더 할 수 있을까. 또 무엇을 해야 그 몇 년을 조금이라도 더 늘릴 수 있을까. 이 고민은 아직까지도 이어지고 있다. 블록체인이라는 큰 방향성은 잡았지만 이 선택에 대한 확신이 있지는 못하다.

---
### 마지막 퀘스트를 끝냈던 11월

먼 옛날, 한 자릿수의 나이였을 때부터 나는 내 인생의 퀘스트가 크게 세 가지라고 생각해왔다.
대학, 군대, 결혼.

그리고 2025년 11월, 드디어 나는 내 인생의 마지막 퀘스트를 끝냈다. 물론 그 과정은 다시 겪고 싶지 않을 정도로 힘든 순간들의 연속이었다. 특히 청첩장 모임은 나를 꽤 괴롭게 만들었다.

<img src="/images/calendar.png" width="800" />
(4일 동안 5번의 청모를 했다.)

결국 마지막쯤에는 포기해 버렸다.

결혼식 날에 정말 많은 분들이 와주셨다. 30년 동안 내가 인생을 헛으로 살지는 않았구나 싶은 마음이 들면서, 그 자리에 있었던 모든 사람들에게 진심으로 감사했다. 청모를 하는 과정이 많이 힘들긴 했지만, 그래도 한 분 한 분 인사드리길 정말 잘했다는 생각이 든다.

그리고 또 한편으로는, 너무 죄송하다. 내가 너무 많은 생각을 하느라 끝내 인사드리지 못했던 분들이 “축하한다”며 축의금을 보내주실 때면, 민망하고 미안한 마음이 동시에 올라온다. 부담을 드릴까 봐 인사를 못 했다고 말하지만, 사실은 그분들을 결혼식에 초대할 만큼 가까운 사이라고 여기지 않았다. 그런데 그분들은 나를 그 정도의 사이라고 생각했고. 그 마음을 뒤늦게 알아차리게 되어 진심으로 죄송하면서도 가장 후회되는 지점이다.

---
### 김부장과 함께 했던 11월

살면서 많은 드라마들을 봤지만 이렇게까지 많은 생각을 하게 만든 드라마는 없었다. 나의 인생이 또 나의 미래가 김부장과 다르지 않을 것 같다는 생각 때문이었을까. 특히 회사를 그만두고 나온 김낙수를 아내가 "고생했다"라는 말과 함께 안아주는 장면에서는 나도 모르게 눈물이 났다.

<img src="/images/kim.jpeg" width="400" />

자신을 잃으면서까지 지켜야 하는 것들이 아이러니하게 자신을 소멸시키고 있었다는 것. 서울 자가에 대기업 부장이라는 화려한 수식어구보다 김낙수라는 세 글자가 가장 화려하고 편안하다는 것을. 자기는 자기 자신일 때 가장 의미있다는. 나다움이 무엇인지 고민해보게 만드는 깊이 있는 올해의 드라마다.

---
2025년 내가 가장 많이 들었던 음악은 kanye의 I wonder다. 꿈과 현실, 희망과 불안 사이에서 계속해서 자신에게 묻는 what it means라는 질문은 내 인생의 모든 것들이 어떠한 의미를 가지는지 다시 한번 생각해보게 된다.

나에게 2025년은 가장 큰 불안과 혼동을 느끼면서도 나의 미래와 희망을 위해 계속해서 나아갔던 한 해이다. 이 모든 것들이 어떠한 의미를 가져나갈지는 모르겠지만 매 순간 나다움을 지키며 살아가고 싶다.

---

2026년에는 이런 것들을 해보자
- 최근에 공부를 너무 안 한다. 1월 중에는 꼭 스터디카페 등록을 해보자
- 나만의 전문성이 필요한 시대가 점점 다가오고 있다. 내가 조금이라도 관심을 가져봤던 블록체인 분야에 대해 깊게 공부해보자
- 명색이 FE 개발자인데 블로그가 휑하다. 기능도 좀 넣고 꾸미기도 해보자. 나중에 나의 이력서가 될 수도 있는 곳이니 나에 대한 약력도 잘 정리해보자
- 그 어떤 것보다 행복하게 살자. 요즘 와이프랑 밤에 와인 한병씩 해치우는게 일상인데 이게 꽤나 즐겁다. 이런 사소한 행복들을 잘 지켜나가자
