---
title: '낭만의 시대가 도래했다'
description: Generative AI
date: '2025-9-22'
categories:
  - etc
published: true
---

<img src="/images/bill1.jpg" width="500" />

---

2022년 11월 OpenAI의 ChatGPT가 등장했다. 이 생성형 AI의 등장은 많은 이들의 삶을 바꾸어 놓았다. 나는 구글링이 개발자의 덕목이던 시절에 개발을 시작했다. 궁금하거나 막히는 지점이 생기면 당연히 구글에 검색했다. 하지만 지금은 다르다. 검색이 필요한 시점에 더 이상 구글을 사용하지 않는다. 생성형 AI와 단 한 번의 질의응답을 통해 원하는 내용을 얻는다. 늦깎이 대학원생인 아버지는 폰뱅킹조차 하지 못하는 디지털 소외 계층이다. 그런 아버지조차도 논문 작성이나 수업 자료 요약 등에 ChatGPT를 사용한다.

---

생성형 AI의 등장은 단순히 나와 아버지라는 개인의 삶만을 바꾸어 놓은 것이 아니다. 생성형 AI의 등장으로 한 명의 개인이 커버할 수 있는 업무의 영역이 넓어졌다. 이로 인해 기업들이 더 이상 신입사원을 이전과 같이 많이 채용할 이유가 없다. 이는 많은 이들에게 불안감을 심어주었다. 주니어는 취업할 수 없다는, 시니어는 언제든 대체될 수 있다는 불안과 압박이 시작됐다. 인간을 편하게 만들기 위한 새로운 기술은 오히려 우리에게 불안과 두려움을 만들어 내고 있다.

---

불안과 두려움은 결국 우리의 일자리가 AI에 의해 대체될 것이라는 생각(사실)으로부터 비롯된다. 예부터 인간은 일을 해야만 해왔다. 삶을 영위하기 위한 모든 것들은 인간의 노동으로부터 비롯됐다. 자연에 모든 것을 맡기기에는 예측하기 어렵고 위험하다. 자연이 변덕을 부릴 때면 수많은 인간들이 죽어 갔고, 이 변덕으로부터 해방되기 위해 노동은 필수적이었다. 노동은 만물의 근원을 만들어 내는 인간의 본질이다. 때문에 지금까지 노동에 가치를 매겨 보상하고, 또 그 보상으로 더 나은 삶을 살아갔다.

---

이렇게 인간과 노동은 떼려야 뗄 수 없는 사이였다. 일을 하지 않는 모습은 게으른 모습이며, 더 많은 일을 하여 더 많은 것들을 가져가는 것은 당연하게 여겨졌다. 하지만 우리는 일을 해왔던 것이지, 해야만 하는 것이 아니다. 숨을 쉬듯 노동을 해야 하는 존재가 아니라는 이야기다. 우리가 늘 노동을 삶의 전제 조건처럼 받아들여 왔던 것은, 생존을 위해 어쩔 수 없이 그러한 체계 속에 머물러야 했기 때문이다. 의식주를 해결하지 못하면 살아갈 수 없다는 공포가 인간을 끊임없이 일로 내몰았다.

그러나 생성형 AI가 등장하면서 이러한 생각은 변화하기 시작했다. 우리는 더 이상 노동을 통해서만 생존을 보장받는 존재가 아니다. 오히려 인간의 손을 거치지 않고도 식량이 생산되고, 주거가 건설되며, 생활의 기본 조건들이 충족될 수 있는 기반이 서서히 마련되고 있다.

---

이러한 세상을 허무맹랑하게 바라보는 이들도 적지 않다. 아무도 일을 하지 않는 세상에서는 인간의 기본적인 의식주조차 해결이 어려울 것 같기 때문이다. 물론 당연한 말이다. 생성형 AI만으로는 이러한 기본적인 인간의 욕구를 충족시킬 수 없다. 하지만 생성형 AI의 등장은 패러다임이 전환되는 시작이지 그 끝이 아니다. 생성형 AI에 이어 다양한 휴머노이드들이 개발될 것이며, 이들이 인간의 기본적인 의식주를 보장하는 시대가 머지않아 올 것이다.

아무도 일하지 않는다면 세상의 발전 또한 멈추지 않겠느냐는 이야기도 나올 수 있다. 하지만 일을 하지 않는다고 해서 아무것도 하지 않는 것은 아니다. 인간이 노동에서 해방되는 순간, 비로소 자신이 진정으로 원하고 하고 싶은 일들에 몰두하게 된다. 인류의 발전을 이끌어 온 극소수의 천재들은 단순히 부를 얻기 위해 새로운 것을 발견하거나 개발한 것이 아니다. 자신이 즐기고 원했던 분야에 몰입하는 과정에서 행복을 느끼고, 그 연구와 성취가 곧 자기 자신을 증명하는 길이라는 확신 속에서 천재가 될 수 있었던 것이다. 따라서 아무도 일을 하지 않는 세상이라 하더라도, 일부 사람들은 자기 증명과 열정을 위해 여전히 세계를 발전시켜 나갈 것이다.

---

노역에서 해방된 낭만의 시대를 우리는 기다리고 있다. 이 시대에서는 정말로 우리가 하고 싶은 것들을 할 수 있게 된다. 이 시대가 되었을 때 나는 무엇을 할 것인가. 또 무엇을 하고 싶은가. 그 답은 저절로 주어지지 않는다. 우리는 끊임없이 고민하고 또 고민하며, 진정으로 내가 원하고 보람을 느낄 수 있는 ‘행동’을 찾고 행해야 한다.

사실 낭만의 순간은 노역으로부터 해방된 순간이 아니다. 내가 진정으로 원하는 것을 알고 행하는 그 순간이 낭만의 순간이다. 사실 우리 세대가 노동에서 완전히 해방되기는 어려울지도 모른다. 하지만 그렇다고 부정적인 생각에 휩싸여 한 번뿐인 인생을 낭비해서는 안 된다. 하루라도 빨리 나의 낭만을 마주해야 하지 않겠는가.

---

<iframe width="560" height="315" src="https://www.youtube.com/embed/016HuRNPxLo?start=600" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

*참고 구간: 10:00 ~ 11:20*
