---
title: '안식'
description: 안식
date: '2026-6-26'
categories:
  - etc
published: true
---

내 안의 아집이 피어오르는 것을 느낀다. 안 되겠다. 좀 쉬어야겠다. 그날로 2주간의 안식 휴가를 결정하고 공유했다. 급작스러운 결정으로 인해 나의 안식 휴가에는 보통 사람들이 기대하는 일정은 없다. 다만 철저하게 쉬어야겠다는 목표 하나만이 존재한다. 내 안에 피어오르는 아집을 멈출 수 있을 정도로. 이 생각 하나뿐이다.

그나마 작은 계획이라면 뜀박질을 많이 해야겠다는 정도. 뛰는 것이 나에게는 또 다른 쉼이다. 풍경, 다리의 근육, 에어팟에서 흘러나오는 가사들에 집중하다 보면 머리에 가득 찬 필요 없는 생각들이 사라진다. 그러한 공허 속에서 완벽하게 휴식한다. 그런데 최근에 서정과 대화하면서 알게 되었다. 잡념이 사라진 공허 속에서 오히려 나는 중요한 생각들을 한다. 이번에도 뛸 때마다 중요한 생각들을 했다. 특히 내 안에 피어오르는 아집은 어디에서 시작되었는지 고민했다.

나는 매 순간 내가 있는 곳에서, 나라는 사람이 꼭 필요하기를 바란다. 일반적인 인간관계에서도, 회사에서도 그러했다. 때문에 내가 속한 곳에서 나에게 바라는 것들을 하기 위해 노력한다. 나에게 바라는 것들을 하는 게 그곳에서 내 자신을 필요한 사람으로 만드는 길이라 생각하기 때문이다. 하지만 나의 욕심은 나를 지치게 만들었다. ‘필요한 사람’이 된 것 같은 감정을 느끼기 위한 노력은 방대하다. 또 그러한 노력에도 불구하고 구조적, 상황적인 차이로 필요한 사람이 될 수 없는 경우가 대부분이다. 그 간극 속에서 아집은 교묘히 피어올랐다.

<div style="display: flex; justify-content: center;">
  <iframe
    src="https://www.youtube.com/embed/mRbl_feWTes"
    title="나의 진심을 주고 싶기에"
    width="100%"
    height="400"
    style="border:0; border-radius: 8px; max-width: 300px; aspect-ratio: 9/16; height: auto;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    loading="lazy">
  </iframe>
</div>

“항상 그 사람이 좋아하는 걸 선물할까, 아니면 내가 좋아하는 걸 할까 고민할 때, 항상 제가 좋아하는 걸 해요. 나의 진심을 주고 싶기에. 나의 전부를 주고 싶기에.”

우연히 나와 정말 다른 모습의 사람을 보게 됐다. 남들이 나에게 바라는 것이 아닌, 내가 하고 싶은 것을 하는 그녀의 모습을 보고 놀랐다. 그리고 그 이유에 대해서는 공감했다. 내가 나를 인정하지 못하는데, 남의 인정에 기반한 감정이 무슨 쓸모가 있을까. 내가 좋아하는 걸 당당히 선물할 수 있을 정도의 강한 자기 확신이 자신을 건강하게 지킬 수 있음을 느꼈다. 나도 내가 좋아하는 것들을 하고, 좋아하는 것들을 선물해야겠다. 그것이 나를 지키고 내 안의 아집으로부터 나를 해방시키는 길이지 않을까.
