---
title: '안식'
description: 안식
date: '2026-6-26'
categories:
  - etc
published: true
---

내 안의 아집이 피어오르는 것을 느낀다. 아 안 되겠다. 좀 쉬어야겠다. 그날로 2주간의 안식 휴가를 결정하고 공유했다. 급작스러운 결정으로 인해 나의 안식 휴가에는 어떠한 일정도 없었다. 다만 철저하게 쉬어야겠다. 내 안에 피어오르는 아집을 멈출 수 있을 정도로. 이 생각 하나뿐이었다.

사실 철저히 쉬어야겠다는 나의 목표는, 가장 중요한 일정이다. 다만 대부분의 사람들은 이런 목표를 일정으로 생각하지 않는다. 때문에 항상 나에게 향하는 "안식 휴가 동안 무엇을 할 건가요? 어디 놀러 가나요?" 라는 질문에 쉽게 대답하기 어려웠다. 무엇을 하지도 않을 거고, 어디에 놀러 갈 생각도 없다. 그냥 정말 그대로 있을 참이었다.

쉬는 동안 정말 많이 뛰었다. 뛰는 것이 나에게는 또 다른 쉼이라고 생각했기 때문이다. 나는 항상 누군가에게 달리기를 소개할 때 "잡생각이 사라져서 좋아요"라고 이야기했다. 그런데 최근에 서정과 대화하면서 알게 되었다. 나는 뛰면서 가장 깊은 생각들을 한다. 잡념이 사라진 공허한 공간 속에서 나는 정말 중요한 깊은 생각들을 해왔다.

이번에도 많은 생각들을 했다. 왜 나는 내 안의 아집이 피어오르고 있다고 느꼈고, 쉼이 필요하다고 생각했을까. 거듭된 공허의 순간 속에서 나는 결론을 내릴 수 있었다.

나는 매 순간 내가 있는 곳에서, 나라는 사람이 가장 필요한 사람이기를 바랐다. 사실 어처구니없는 말이다. 조직이란 그 어떤 개인도 반드시 필요한 사람으로 만들어서는 안 된다. 누구나 이탈할 가능성이 있고 그에 대한 대체 인력을 찾아야 하기 때문에 특정한 사람을 필수적인 요소로 만들어서는 안 된다. 하지만, 나는 내가 그런 사람이기를 항상 바라왔다. 그래서 내가 있는 곳에서 내가 할 수 있는 모든 것들을 찾아왔다. 다만 어느 순간부터는 구조적으로 나의 조직에서 내가 이런 사람이 되는 것이 불가능함을 인지했다. 그때부터 내 안의 아집이 피어올랐다. 그럴 수 없음을 인지한 나의 고집은 나 자신을 지치게 만들었다.

---

‘이방인’이라는 책을 최근에 읽었다. 워낙 명작으로 유명한 책이기도 했지만, ‘이방인’이라는 단어가 나에게도 꽤나 어울린다는 생각이 들어서 읽어보고 싶었다. 이 책에서는 ‘척’에 대한 이야기들이 나온다. 주인공은 사회가 규정한 ‘척’을 하지 못해 사형에 이른다. 나는 사실 ‘척’을 잘한다. 그래서 내가 있는 조직에서도 내가 꼭 필요한 사람이 아니라는 것을 알면서도, 필요한 사람인 척을 해왔다. 그리고 이러한 척이 내 안의 아집을 키우는 가장 위험한 적이라는 것을 알았다.


<div style="display: flex; justify-content: center;">
  <iframe
    src="https://www.youtube.com/embed/mRbl_feWTes"
    title="나의 진심을 주고 싶기에"
    width="100%"
    height="400"
    style="border:0; border-radius: 8px; max-width: 300px; aspect-ratio: 9/16; height: auto;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    loading="lazy">
  </iframe>
</div>

“항상 그 사람이 좋아하는 걸 선물할까, 아니면 내가 좋아하는 걸 할까 고민할 때, 항상 제가 좋아하는 걸 해요. 나의 진심을 주고 싶기에. 나의 전부를 주고 싶기에.”

이방인과 완전한 반대말로 인생을 산다면 딱 이 영상의 내용과 같지 않을까. 나는 항상 남들이 나에게 원하는 것들을 해주면서 살고 싶었다. 그게 내가 속한 모든 곳에서 나 자신을 필요한 사람으로 만드는 것이라 생각했다. 하지만 지금은 내가 좋아하는 것들을 하고 싶고, 좋아하는 것들을 선물하고 싶다. 더 이상은 내 인생의 이방인이 되고 싶지 않다. 그것이 나를 지키고 내 안의 아집으로부터 나를 해방시키는 길이라 확신한다.

---

마시모두띠에서 세일을 한다. 어제 친구와 함께 잠실 마시모두띠 매장에 가서 이쁜 바지를 하나 사고 서정의 이름으로 롯데포인트 적립을 했다. 몰랐는데 품목명이 마시모두띠 여성티셔츠로 기록되었고 이 알림이 서정에게 갔나 보다. 내가 산 바지 사진을 서정에게 보낼 때까지 서정은 은근한 기대를 품었던 것 같다. 그런 그녀에게 나는 어제 "나는 항상 필요한 선물을 해주는 사람이야. 서정이 어떤 게 필요하다고 이야기했으면 그걸 사서 선물했을 텐데, 그런 게 없어서 따로 사지 않았어." 라는 이야기를 했다.

가장 사랑하는 그녀에게도 나는 이방인처럼 행동했다. 나의 이기심을 이방인이라는 단어에 숨겼다고 이야기하는 게 더 적절하겠다. 나의 아집과 이기심으로부터 나와서, 나에게 가장 중요한 사람에게 나의 진심을 줄 수 있는 사람이 되어야겠다. 아직, 마시모두띠 세일이 끝나지 않았다. 여성 코너에서 내가 가장 좋아하는 옷을 하나 골라, 선물해야겠다. 그렇게 나 자신을 해방하겠다.
