---
title: '우정'
description: 우정
date: '2026-8-23'
categories:
  - etc
published: true
---

내일은 민우의 결혼식이다. 민우가 나한테 축의를 얼마 했었더라. 찾아보니 20만 원을 했었다. 민우의 상황에 꽤나 큰돈을 축의했구나. 내일 가는 길에 20만 원 뽑아가야겠다.

---

우정이라는 단어가 과거에는 가볍고 친근했다면, 요즘에는 무겁고 어렵다. 모두가 똑같은 학교, 교실, 자리에서 비슷한 수업들을 듣고, 아무런 고민 걱정 없이 함께 시간을 보내던 때도 있었다. 시간이 흐르고 흘러 우리는 다른 위치, 직위, 분야에서 시간을 보내며 보이지 않는 격차를 벌려왔다. 그리고 그런 격차는 우리의 사이를 더욱 무겁고 고민스럽게 한다.

과거의 나는 친구들에게 잘 베풀지 못했다. '기브 앤 테이크'라는 개념이 확실한 사람이었기에 내가 받은 것에 대한 보답은 하지만, 무언가를 먼저 나서서 해주는 사람은 아니었다. 그리고 그런 나를 친구들은 피시방에서 자기 음료수만 시키는 놈, 맨날 얻어먹으려고만 하는 놈으로 불렀다. 변명을 좀 하자면 마음의 여유가 없던 시기였다. 좀 더 정확히 말하면 돈이 없었다. 사주고 싶지 않아서가 아니라, 사기 어려웠고 그런 상황이 내 자신을 인색한 사람으로 만들었다.

민우, 형택이 같은 친구들은 그런 시기의 나에게 많은 것들을 해준 고마운 사람이다. 여유가 있던 그때의 그 친구들은 나에게 무언가를 사주면서도, 나에게 무언가를 바라지 않았다. 인색했던 나라는 사람이 이해하기 어려운 고마운 존재들이었다.

그런 친구들이 요즘에 와서는 많이 달라졌음을 느낀다. 각자의 삶이 힘들어지면서 점점 연락하기도, 만나기도 어려워진다. 어렵게 연락이 닿아 다 같이 만나는 날에도 친구들의 표정이 예전처럼 밝지 못하다. 그럴 때면 나는 다 같이 피시방에 가자 한다. 그곳에 나란히 앉아 모두가 한 방향을 바라보고 있을 때면 그립고 또 그리운 자유로웠던 우리가 생각난다. 우리가 느끼는 간격들 또한 그 공간 안에서만큼은 무의미하다. 누가 어떤 일을 하고 있는지, 누가 조금 더 가졌는지, 누가 조금 뒤처져 있는지 같은 것들이 우리 사이에서는 아무것도 아니었으면 좋겠다. 적어도 우리끼리는, 우리 사이에 간극을 만들어내는 세상의 수많은 기준이 사실은 별것 아니라는 것을 친구들 모두가 알아주었으면 한다.

---

'우정은 상대가 부탁하기를 기다리지 않고, 해야 한다고 믿는 것을 그를 위해 기꺼이 하는 훌륭한 마음가짐.'

내가 그동안 친구들에게 받아온 우정이 이런 마음이었을 것이다. 친구들은 내가 부탁하기를 기다리지 않았다. 내가 돌려줄 수 있는지를 따지지도 않았다. 그냥 친구니까 해줬다. 그리고 이제는 나 역시 그들을 향해 그런 마음을 가진 사람이었으면 좋겠다. 받은 만큼 돌려주고, 준 만큼 받는 관계가 아니라 힘들 때 먼저 손을 내밀고, 굳이 말하지 않아도 한 번 더 챙겨줄 수 있는 친구이고 싶다.

---

아침에 일어났다. 결혼식을 가려고 준비하는데 내가 민우에게 받은 마음들이 떠올랐다. 그 마음들이 너무 고마워서. 그런 민우에게 20만 원 받았다고 20만 원 그대로 돌려주려 했던 내 자신이 우스워서 웃음이 났다. ATM 앞에 선 나는 25만 원을 뽑아 결혼식에 갔다. 그런데 지금 이 글을 쓰면서 다시 생각해보니 그냥 30만 원 할 걸 그랬다. 참으로 쫌생이 같은 나다.
