---
title: '월기 (6월)'
description: 월기 (6월)
date: '2026-7-12'
categories:
  - etc
published: true
---

<div style="display: flex; gap: 8px;">
  <img src="/images/crab1.jpeg" style="width: 50%; object-fit: cover; border-radius: 8px;" />
  <img src="/images/crab2.jpeg" style="width: 50%; object-fit: cover; border-radius: 8px;" />
</div>

아침에 부지런히 일어나 선거를 하고 돌아오는데 서정이 한 가지 제안을 했다. "가락시장 가서 꽃게랑 회 포장해서 건대 가서 먹을까?" 부모님으로부터의 독립을 강조하는 그녀의 제안이었기에 많이 놀랐다. 그리고 그 한마디를 하기 위해 했을 서정의 노력을 생각하면 진심으로 감사했다.

사실 서정의 그런 제안에 감사한 마음부터 가졌던 걸 보면, 나는 부모로부터 전혀 독립하지 못한 사람이다. 과거에는 나 자신이 부모로부터 완전히 독립된 개인이라고 생각했는데 지금 돌아보면 한없이 부끄러워진다. 역시… 사람 고쳐 쓰는 거 아니다. 그리고 이런 나를 누구보다 잘 알고 있는 서정이기에. 나보다도 나를 더 잘 아는 그녀이기에. 그런 노력을 나에게 선물해 주어 진심으로 고맙고 사랑한다. 나도 더 많이 표현하고 노력해야겠다.

---

<div style="display: flex; gap: 8px;">
  <img src="/images/run.jpeg" style="width: 33%; object-fit: cover; border-radius: 8px;" />
  <img src="/images/waffle.jpeg" style="width: 33%; object-fit: cover; border-radius: 8px;" />
  <img src="/images/toy_story.jpeg" style="width: 33%; object-fit: cover; border-radius: 8px;" />
</div>

무계획으로 2주 동안 쉬었다. 아무것도 정해진 게 없다 보니 순간순간 내가 하고 싶은 것들을 했다. 유튜브를 보다가 갑자기 뛰러 나가기도, 밥 먹고 단 게 땡겨서 와플을 사 먹기도 했다.

어느 날은 아침에 토이스토리가 보고 싶어서 혼자 영화관에 갔다. 평일 낮에 영화를 보러 가니까 그 큰 영화관에 나랑 모르는 아저씨 둘뿐이더라. "가까이에 롯데시네마가 있어서 좋았는데, 곧 사라지겠고만…." 생각을 하다가, 장난감들의 무조건적인 사랑과 헌신에 잠시 눈물을 흘리기도 했다. 리뷰가 별로여서 안 볼까 했는데, 토이스토리와의 의리를 지키길 잘했다. 생각할 것도 많고 재미도 있는 영화였다.

---

<div style="display: flex; gap: 8px;">
  <img src="/images/pants.jpeg" style="width: 40%; object-fit: cover; border-radius: 8px;" />
</div>

쉬면서 쇼핑도 좀 했다. 때마침 자라, 마시모두띠, 유니클로, COS, 아르켓까지 별의별 SPA 브랜드들이 모두 세일을 시작했다. 마시모두띠에서 신발을 사 놓고 몇 달을 안 신다가 최근에 처음 신었는데. 샤갈 이 신발도 10만 원을 할인하더라. 하이닉스를 능가하는 포모에 잠시 빠졌었다. 이 포모를 해결하기 위해서는 세일 상품을 건져서 나의 손해를 만회해야만 했다. 비장한 마음으로 잠실행 지하철에 몸을 실었다. 다행히 그곳에서 마음에 드는 세일 바지를 발견했고 약간의 손해를 만회할 수 있었다. 기쁜 마음으로 집에 돌아가는데 서정에게 카톡이 왔다.

"무슨 옷 샀어?"

나의 전리품을 자랑하기 위해 그리고 종이 가방 100원을 아낀 것을 뽐내기 위해 바지를 가지런히 무릎 위에 얹어 놓고 사진을 찍어 보냈다. 룰루~ 그렇게 나의 자랑은 완벽히 성공했고, 시간이 좀 흘러 서정도 집에 돌아왔다. 그리고 나에게 했던 질문의 전말에 대해 들을 수 있었다.

바지를 사고 롯데포인트 적립을 서정의 번호로 했다. 보통 포인트 적립은 별도의 알림이 가지 않는데 그날은 좀 이상하게 알림이 갔다. 알림에는 품목명이 포함되어 있었는데 그곳에 여성 하의로 잘못 표기가 되어 있던 것이었다. 서정은 자신의 서프라이즈 선물을 산 줄 알고 어떤 옷인지 물었던 거고, 나는 거기에 대고 내 바지 자랑만 열심히 하고 있었다.

사건의 전말을 알고 나서는 서정에게 변명 아닌 변명을 했다. "나는 원래 상대가 원하는 선물만 하는 편이야. 서정이 뭐가 필요하다고 말했으면 당연히 그것도 사 왔을 텐데. 그런 게 있으면 언제든지 알려줘!" 서정도 이런 나를 알아서 그 상황을 하나의 해프닝으로 마무리 지을 수 있었다.

다음 날 아침, 갑자기 뛰고 싶다는 마음이 들어 뛰러 나갔다. 뛰면서 계속 어제 있었던 일들을 생각했다. 그리고 문득 최근에 서정이 나에게 "너는 가끔 이기적으로 행동할 때가 있어."라고 말했던 게 생각났다. 나는 내가 이기적인 사람이 아니라고 생각하기에, 그 말을 대수롭지 않게 여겼는데 그 순간 어제의 내가 이기적이었음을 깨달았다. 내 옷만 사 온 건 그렇다 쳐도, 그런 상황에서 서정에게 "원래 내 가치관이 그런 거야."라고 이야기한 건 너무나 이기적인 모습임을. 종종 서정에게 이런 비슷한 모습을 보였기에, 그녀가 나에게 이기적이라고 했음을 문득 깨달았다. 사실은 내가 나를 위해 사고 싶은 것들에만 몰두해 놓고 변명했구나. 서정이 나에게 바랐던 건 어디에서든 서정을 떠올리고 서정을 위한 생각을 하는 것이었을 텐데. 단순히 물질적인 것에만 사로잡혀서 그 마음을 가지지 못했음을 처음으로 깨달았다.

바로 다시 잠실로 향했다. 여성복 코너에서 어떤 옷이 가장 마음에 드는지. 철저히 '나'의 관점에서 멋진 옷을 30분 넘게 찾았고 결국 하늘하늘한 갈색 블라우스 하나를 구매했다. 그간의 무심했던 나의 행동에 대한 사과이기에 100원짜리 종이봉투도 같이 구매했다. 그렇게 그날 저녁 나의 생각과 함께 선물을 전달했다. 비록 옷은 사이즈가 커서 환불했지만, 그래도 내 진심은 잘 전달이 된 것 같다. 앞으로는 어디에서든 서정 생각을 먼저 하는, 그 마음을 기반으로 내가 좋아하는 것들을 선물할 수 있는 사람이 돼야겠다.

---

2주라는 긴 시간을 쉬고 회사로 돌아갔다. 쉬는 동안 정말 많이 뛰어서인지 살이 조금 빠진 것 같았다. 오랜만에 만난 동료들이 “미로, 살이 많이 빠지셨네요?”라고 물으면 뭐라고 대답해야 할지 잠시 고민하기도 했다.

하지만 내 기대와 달리 그런 질문은 한 번도 받지 못했다. 대신 만나는 사람마다 “벌써 돌아왔어요?”, “2주가 정말 순식간이네요”라고 말한다. 나에게는 꽤 긴 시간으로 느껴졌던 2주가, 회사 안에서는 그저 빠르게 지나간 시간처럼 여겨지는 듯했다.

그 말을 들으며 회사라는 공간이, 그리고 반복되는 일상이 얼마나 시간을 빠르게 만드는지 새삼 느꼈다. 동시에 이곳에서 다시 빨라질 나의 시간이 조금은 아깝게 느껴지기도 했다. 물론 힘든 순간에는 지금의 시간이 얼른 지나가기를 바랐던 적도 있다. 하지만 2주라는 시간을 온전히 내 것으로 가져보고 나니, 시간이 얼마나 아깝고 소중한 것인지 다시 생각하게 된다.

먼 미래에, 내 인생의 끝이 얼마 남지 않은 지점에서 지금을 돌아본다면 이 시간은 너무나 아깝고 소중한 시간이겠지. 그 마음을 감히 상상하면서 하루하루를 살아갈 필요가 있다.

---

<div style="display: flex; gap: 8px;">
  <img src="/images/water.jpeg" style="width: 40%; height:500px; object-fit: cover; border-radius: 8px;" />
</div>

커피커피커피에서 커피를 주문해 놓고 그 앞에 분수를 멍하니 지켜보다 보면 문득 들어가고 싶다는 생각이 강하게 들 때가 있다. 하지만 나는 지성인이기에 홀딱 젖은 채로 회사에 돌아갈 수는 없다. 그래서 매번 그런 충동을 접어두곤 한다.

내가 쉬는 동안 서정도 늦게 출근한 날이 있었다. 집 근처에서 같이 점심을 먹고 산책을 하는데 근처에 물놀이를 할 수 있는 놀이터가 있더라. 이번에는 참지 않았다. 내가 들어가서 놀아도 되는 건지는 잘 모르겠는데… 일단 들어갔다. 아무런 걱정도 고민도 없이 자유롭고 시원했다. 평생 기억에 남을 만한 해방이었다. 어린이 놀이터만 만들 게 아니라, 어른이 놀이터도 하나쯤은 만들어 줬으면 좋겠다. 오히려 요즘의 어른들에게 더 필요할 것 같다.

---

가끔 이렇게 월기를 써야겠다. 순간순간 들었던 생각이나 감정들을 적어 놓고 잊지 않아야지. 요즘 나 자신을 보면 나이만 먹었지 동네 애들이랑 다를 게 하나가 없다. 생각하고 까먹고 실수하고 생각하고 까먹고… 써 놓은 글들을 다시 보면서 어른답게 살아야겠다.

<div style="display: flex; gap: 8px;">
  <img src="/images/flower.jpeg" style="width: 33%; object-fit: cover; border-radius: 8px;" />
  <img src="/images/sky.jpeg" style="width: 33%; object-fit: cover; border-radius: 8px;" />
  <img src="/images/coffee.jpeg" style="width: 33%; object-fit: cover; border-radius: 8px;" />
</div>

어쨌든 맑고 푸른 6월이었다. 다시 오지 않을 2026년의 6월을 기억하며 더 열심히 힘내서 살아봐야겠다.
